$shadows: #000;
$background: #111B20;
$background-2: #ffffff;
$background-3: #f9fdf1;
$fonte: #333232;
$fonte-2: #000000;
$highlight: #015D4C;
$linear-background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
$card-background: #fafabc;

$adress-profile: #a68069;
$task-profiles-prfile: #6d4831;
$edit-btn: #9b9b9b;
$delete-btn: #ff8097;

$error-background: #f5c6cb;
$error-color: #721c24;

$success-background: #d4edda;
$success-color: #155724;

$color-1: #bad6f8;
$color-2: #ffca99;
$color-3: #ebeb7a;
$color-4: #9cdd9c;
$color-5: #ff94a2;

$card-comment: #cccc84;
$dropdown: #fafac9;